.desktop-icon {
    width: 64px;
    height: 40px;
    display: flex;
    flex-direction: column;
    padding: 4px;
    margin: 8px;
    cursor: pointer;
    color: white;
    text-align: center;
}
.desktop-icon span {
    width: 80px;
    margin-left: -8px;
}
.desktop-icon img {
    width: 32px;
    margin-left: 16px;
}
.desktop-icon:hover {
    background-image:   linear-gradient(45deg, #000000 25%, transparent 25%),
                        linear-gradient(-45deg, #000000 25%, transparent 25%),
                        linear-gradient(45deg, transparent 75%, #000000 75%),
                        linear-gradient(-45deg, transparent 75%, #000000 75%);
    background-size: 2px 2px;
    background-position: 0 0, 0 1px, 1px -1px, -1px 0px;
}
.desktop-icon:hover span {
    background-color: #000082;
}

.js-icon span {
    color: black;
}

.js-icon:hover span {
    color: white;
}