.jsbutton {
    position: relative;
    cursor: pointer;
    min-width: 64px;
    min-height: 20px;
    box-sizing: border-box;
    margin: auto;
    border: 1px solid;
    border-color:  white #828282 #828282 white;
    background-color: #C3C3C3;
}
.jsbutton::before {
    content: "";
    position: absolute;
    left: -2px; top: -2px; right: -2px; bottom: -2px;
    border: 1px solid black;
    pointer-events: none;
}