.jsmenubar {
  display: flex;
  background-color: #C0C0C0;
  width: 100%;
  margin-top: 3px;
  padding-bottom: 3px;
  position: relative;
}

.jsmenubar::after {
  position: absolute;
  content: "";
  border: 1px solid;
  border-color: #888 #FFF #FFF #888;
  left: 2px;
  right: 2px;
  bottom: 0;
}

.jsmenu p {
  position: relative;
  padding: 0;
  margin: 0 4px;
  cursor: pointer;
  user-select: none;
}

.jsmenu-list-wrapper {
  position: absolute;
  display: block;
  min-width: 100px;
  border: 1px solid;
  border-color: #C0C0C0 #000000 #000000 #C0C0C0;
  z-index: 999;
}

.jsmenu-list {
    margin: 0;
    list-style: none;
    border: 1px solid;
    border-color: #FFFFFF #828282 #828282 #FFFFFF;
    background-color: #C0C0C0;
    padding-left: 4px;
    padding-right: 4px;
}

.jsmenu-list li {
  width: 100%;
  cursor: pointer;
  padding-top: 2px;
  padding-bottom: 2px;
}

.jsmenu-list li:hover {
  z-index: 1000;
  background-color: #828282;
}