.jsmenubar {
  display: flex;
  background-color: #C0C0C0;
  width: 100%;
  margin-top: 3px;
  padding-bottom: 3px;
  position: relative;
}

.jsmenu p {
  position: relative;
  padding: 0;
  margin: 0 4px;
  cursor: pointer;
  user-select: none;
}

.jsmenu-list {
  position: absolute;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 100px;
  border: 2px solid black;
  background-color: white;
  z-index: 999;
}

.jsmenu-list li {
  width: 100%;
  cursor: pointer;
}

.jsmenu-list li:hover {
  z-index: 1000;
  background-color: silver;
}