textarea {
    border: 1px solid;
    border-color: #000000 #DFDFDF #DFDFDF #000000;
    box-sizing: border-box;
    margin: 3px;
    margin-top: 2px;
    width: calc(100% + -8px);
    height: calc(100% + -32px);
    position: relative !important;
    outline: 1px inset #FFFFFF;
}