<!DOCTYPE html>
<html>
    <%- include('partials/header.ejs') %>
    <body>
        <!--
            Window creation example.
            TODO: Move this to the drive JSON file...
         -->
        <script>

            let editor = new JSFrame();
            let layout = new TableLayout();
            let textarea = new JSTextArea();
            let startButton = new JSButton();
            let menuBar = new JSMenuBar();

            editor.setMenuBar(menuBar);
            menuBar.add(
                new JSMenu('File')
                    .add('New', function() { textarea.text = ""; })
            );

            menuBar.add(new JSMenu('App')
                .add('Run', function() { eval(textarea.text); })
            );

            editor.title = "JSForm Editor 0.1"
            editor.width = 400;
            editor.height = 300;
            editor.add(layout);
            layout.setTableDimensions(0, 0, 1, 1);
            layout.add(textarea);

            editor.initialize();

        </script>
    </body>
</html>