<!DOCTYPE html>
<html>
<%- include('partials/header.ejs') %>

    <body>

        <script>
            function exec(file) {
                $.get('open-file', { 'filename': file }, function (data) {
                    eval(atob(data.content));
                });
            }

            $(() => exec('explorer'));
        </script>
        
        <div id="desktop">
        </div>

        <div id="taskbar">
            <div id="taskbar-start-button">
                <div class="taskbar-wrapper" style="width: 54px; margin-left:2px;">
                    <div id="start" class="taskbar-item">
                        <img src="img/gui/jstart.png" style="transform:translateY(2px);" /> Start
                    </div>
                </div>
            </div>
            <div id="taskbar-menu-list">

            </div>
            <div id="taskbar-system-tray">
                <div class="taskbar-wrapper">
                    <div class="taskbar-item">
                        <span id="system-time"></span>
                        <script>
                            s=()=>$('#system-time').text(new Date().toTimeString().split(' ')[0]);s();
                            setInterval(s, 1000);
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>