<!DOCTYPE html>
<html>
    <%- include('partials/header.ejs') %>
    <body>
        <script>
            // Launch the editor application.
            $.get('open-file', { 'filename' : 'editor' }, function(data) {
                eval(atob(data.content));
            });
        </script>
    </body>
</html>