.content {
  display: flex;
  flex-direction: column
}

textarea, input {
  background: transparent;
  color: white;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  width: 100% !important;
}

textarea {
  flex: auto;
  resize: none;
  padding: 8px;
  color: #00FF00;
}

input {
  font-family: 'Consolas';
  border-top: 1px solid white;
  height: 32px;
  font-size: 14px;
  padding-left: 8px;
}