body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: cornflowerblue;
    background-color: silver;
}

table {
  width: 100%;
  height: 100%;
  max-width:100%;
  white-space:nowrap;
  table-layout: fixed;
}

td {
  position: relative;
}

td > * {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.table-layout {
  border-collapse: collapse;
}
.table-layout td {
  margin: 0;
  padding: 0;
}

input[type=text], textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0;
  resize: none;
  border: none;
  outline: none;
}