.js-code-block {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: 1px solid black;
    background-color: #222222;
}

.js-code-block > * {
    font-size: 14px;
    outline: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    overflow: auto;
    font-family: 'Consolas', 'Courier New', monospace
}

.js-code-block > .text-output {
    color: #F7F1FF;
}

.js-code-block > .text-area {
    z-index: 11;
    background: transparent;
    color: transparent;
    caret-color: #F7F1FF;
}

.js-code-block > .text-output span.property {
    color: #E4A805;
}
.js-code-block > .text-output span.numeric {
    color: #E2B84D;
}
.js-code-block > .text-output span.item {
    color: #8B8873;
}
.js-code-block > .text-output span.string {
    color: #9E7204;
}
.js-code-block > .text-output span.class {
    color: #E0891F;
}