body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--teal);
  background-image: url("/img/wallpaper.png");
  background-size: 100%;
  font-family: Tahoma, Geneva, sans-serif;
  overflow: hidden; }

* {
  font-weight: 200;
  font-size: 12px; }

button:active,
button:focus {
  outline: none; }

#taskbar {
  position: fixed;
  z-index: 65535;
  left: 0;
  right: 0;
  bottom: 0;
  height: 26px;
  background-color: #C0C0C0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  border-top: 1px solid white;
  outline: 1px solid #C0C0C0; }

#taskbar-menu-list .taskbar-wrapper,
#taskbar-start-button .taskbar-wrapper,
#taskbar-system-tray .taskbar-wrapper {
  margin: 2px 4px 2px 0;
  display: block;
  width: 160px;
  height: 26px;
  position: relative; }

#taskbar-start-button .taskbar-wrapper,
#taskbar-system-tray .taskbar-wrapper {
  width: 54px; }

#taskbar-system-tray .taskbar-wrapper {
  margin-right: 3px !important; }

#taskbar-menu-list {
  display: flex;
  flex: 1 0 auto; }

#taskbar-menu-list .taskbar-wrapper .taskbar-item,
#taskbar-start-button .taskbar-wrapper .taskbar-item {
  display: block;
  margin: auto;
  user-select: none;
  text-align: center;
  box-sizing: border-box;
  line-height: 20px;
  border: 1px solid;
  border-color: #DFDFDF #828282 #828282 #DFDFDF;
  position: relative; }

#taskbar-system-tray .taskbar-wrapper .taskbar-item {
  display: block;
  height: 20px;
  border: 1px solid;
  margin: auto;
  line-height: 20px;
  border-color: #828282 #DFDFDF #DFDFDF #828282;
  padding-right: 3px; }

#taskbar-menu-list .taskbar-wrapper .taskbar-item::after,
#taskbar-start-button .taskbar-wrapper .taskbar-item::after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  right: -2px;
  bottom: -2px;
  border: 1px solid;
  border-color: #FFFFFF #000000 #000000 #FFFFFF;
  pointer-events: none; }

#taskbar-menu-list .taskbar-wrapper .taskbar-item.toggled,
#taskbar-start-button .taskbar-wrapper .taskbar-item.toggled {
  background-color: #E0E0E0; }

#taskbar-menu-list .taskbar-wrapper:hover,
#taskbar-start-button .taskbar-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.1); }

#taskbar-system-tray .taskbar-wrapper {
  text-align: right; }

#taskbar-menu-list .taskbar-wrapper .taskbar-item {
  text-align: left;
  padding-left: 16px; }

#taskbar-menu-list .taskbar-wrapper.toggled .taskbar-item {
  border-color: #828282 #DFDFDF #DFDFDF #828282; }

#taskbar-menu-list .taskbar-wrapper.toggled .taskbar-item::after {
  border-color: #000000 #FFFFFF #FFFFFF #000000; }

div.xframe {
  position: absolute !important;
  border: 1px solid;
  border-color: #FFFFFF #828282 #828282 #FFFFFF;
  background-color: #C3C3C3;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 0; }
  div.xframe.full-screen {
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important; }
  div.xframe.focused {
    z-index: 1; }
    div.xframe.focused div.titlebar {
      background-color: #000082;
      background-image: linear-gradient(to right, #000082, #0082C2); }
      div.xframe.focused div.titlebar h1 {
        color: white; }
  div.xframe.hidden {
    width: 200px !important;
    height: unset !important; }
    div.xframe.hidden .titlebar {
      border-bottom: none !important; }
    div.xframe.hidden .content {
      display: none; }
  div.xframe::before {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    border: 1px solid;
    border-color: #C3C3C3 #000000 #000000 #C3C3C3;
    pointer-events: none; }
  div.xframe .titlebar {
    height: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #828282;
    background-image: linear-gradient(to right, #828282, #C2C2C2);
    color: white;
    z-index: 3;
    padding-right: 4px; }
    div.xframe .titlebar img {
      width: 16px;
      height: 16px;
      margin: auto;
      margin-left: 4px; }
    div.xframe .titlebar *:nth-child(n+2) {
      margin-left: 2px !important; }
    div.xframe .titlebar h1 {
      margin: 0;
      padding: 4px;
      line-height: 16px;
      flex: auto;
      text-align: left;
      user-select: none;
      cursor: default; }
    div.xframe .titlebar .button {
      position: relative;
      cursor: pointer;
      width: 16px;
      height: 14px;
      box-sizing: border-box;
      margin: auto;
      border: 1px solid;
      border-color: #DFDFDF #828282 #828282 #DFDFDF;
      background-color: #C3C3C3; }
      div.xframe .titlebar .button::before {
        content: "";
        position: absolute;
        left: -2px;
        top: -2px;
        right: -2px;
        bottom: -2px;
        border: 1px solid;
        border-color: #FFFFFF #000000 #000000 #FFFFFF;
        pointer-events: none; }
      div.xframe .titlebar .button.minimize {
        background-image: url("/img/gui/minimize.png");
        background-position: center center;
        background-repeat: no-repeat; }
      div.xframe .titlebar .button.expand, div.xframe .titlebar .button.maximize {
        background-image: url("/img//gui/expand.png");
        background-position: center center;
        background-repeat: no-repeat; }
      div.xframe .titlebar .button.close {
        background-image: url("/img//gui/close.png");
        background-position: center center;
        background-repeat: no-repeat; }
  div.xframe .content {
    flex: auto;
    position: relative;
    z-index: 3;
    background-color: silver; }
  div.xframe .ui-resizable-handle {
    display: block;
    z-index: 2 !important;
    position: absolute;
    width: 32px;
    height: 32px;
    box-sizing: border-box; }
  div.xframe .ui-resizable-sw {
    left: -6px;
    bottom: -6px; }
  div.xframe .ui-resizable-se {
    right: -6px;
    bottom: -6px; }
  div.xframe .ui-resizable-ne {
    right: -6px;
    top: -6px; }
  div.xframe .ui-resizable-nw {
    left: -6px;
    top: -6px; }

.xicon {
  width: 64px;
  height: 40px;
  display: flex;
  flex-direction: column;
  padding: 4px;
  margin: 8px;
  cursor: pointer;
  color: black;
  text-align: center; }
  .xicon span {
    width: 80px;
    margin-left: -8px; }
  .xicon img {
    width: 32px;
    margin-left: 16px; }
  .xicon:hover {
    background-image: linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(-45deg, #000000 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #000000 75%), linear-gradient(-45deg, transparent 75%, #000000 75%);
    background-size: 2px 2px;
    background-position: 0 0, 0 1px, 1px -1px, -1px 0px; }
    .xicon:hover span {
      background-color: #000082;
      color: white; }


div.xpanel {
  background-color: white; }
